body {
    margin: 0;
    background: #6c7b2a;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.road {
    background: #817f84;
    width: 300px;
    height: 100vh;
}

.car {
    position: absolute;
    width: 80px;
    transform: translateY(75vh);
}

.tree {
    position: absolute;
}

.tree1 {
    width: 362px;
    transform: translate(-230px, -3vh);
}

.tree2 {
    width: 300px;
    transform: translate(-240px, 35vh);
}

.tree3 {
    width: 330px;
    height: 460px;
    transform: translate(-240px, 80vh);
}

.tree4 {
    width: 310px;
    transform: translate(240px, -10vh);
}

.tree5 {
    width: 305px;
    transform: translate(250px, 35vh);
}

.tree6 {
    width: 350px;
    height: 450px;
    transform: translate(216px, 75vh);
}

.game-button {
    position: fixed;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform .3s ease;
}

.game-button .play {
    display: none;
}

.game-button:hover {
    transform: scale(1.2);
}

.game-button img {
    width: 60px;
    height: 60px;
}

.danger {
    position: absolute;
    width: 80px;
}

.coin {
    position: absolute;
    width: 50px;
    transform: translate(50px, -50px);
}

.arrow {
    position: absolute;
    width: 50px;
}